/* titres*/
h1
{
	/*background-color: #BACEE6;*/
	color: #7F695B;

	border-bottom-style: solid;
	border-bottom-color: #7F695B;
	border-bottom-width: 15px;

	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;

	width: 100%;
	margin-left: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2
{
	/*border-top-style: solid;
	border-top-color: #535B66;
	border-top-width: 15px;*/
	border-left-style: solid;
	border-left-color: #7F695B;
	border-left-width: 30px;

    
	padding: 20px 0px 20px 10px;
	margin-top: 80px;
    margin-bottom: 50px;
	color: #7F695B;
    font-weight: bold;
    font-size: 1.6rem;
}

h3
{
	
  	padding: 6px;
  	margin: 1% 0% 0px 0%;
  	text-align: left;
    font-size: 1.3rem;
    background-color: #E9B882;
}
h4
{
	/*border-left-style: solid;
	border-left-color: #7F695B;
	border-left-width: 15px;*/
	padding-left: 25px;
    font-weight: 450;
    background-color: #E9B882;
}



#photo
{



    align-content: center;
    width: 40%;
    min-width: 140px;
    max-width: 300px;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.94;
  	/*display: block;
  	left: 0px;
  	width: 13.5%;
  	max-width: 260px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: fixed;
  	min-width: 130px;
    z-index: 1;
    	border-left: 0px;
	border-top: 0px;
    	border-style:  solid;
	border-color: #E9B882;*/
}
#description
{
    /*top: 420px;
     position: fixed;
        max-width: 10%;*/
    
   color: #7F695B;
    font-weight: 400;
    font-size: 1rem;

    
    
    align-content: center;
}

.element /* chaque expérience est appelée "element", on y applique les styles abc, contact, année et temps  */
{
	margin-left: 8%;
    margin-right: 8%;
}

.element li
{
	text-align: left;
	margin-left: 5%;
    list-style: circle;
    font-size: 1rem;
}
.abcare
{
    display: flex;
    justify-content: space-between;
}

.abcdroite
{
    margin-left: 25px;
    min-width: 20%;
    max-width: 20%;

}
.contact
{
	text-align: right;
	font-style: italic;
	margin-right: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: none;
}
.année
{
	text-align: right;
	font-style: italic;
	margin-top: 5px;
	margin-right: 15px;
}
.temps
{
    font-style: normal;
}



/*détails présent aprés chaque h2*/
.détails
{
    font-size: 1rem;
    border: 2px solid #7F695B;
    border-radius: 4px;
    float : right;
    color: #FFF;
    background-color: #7F695B;
    text-decoration: none;
    padding: 3px;
    margin-right: 5px;
}


/*petite phrase d'accroche */
#phrase
{

    font-size: 1rem;
    text-align: justify;
    text-align: center;
}
.guillemet
{
    font-size: 4rem;
    color: #7F695B;
}
