@font-face {
    font-family: 'robotoregular';
    src: url('Font/Roboto-Regular-webfont.eot');
    src: url('Font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Font/Roboto-Regular-webfont.woff') format('woff'),
         url('Font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;}

* /*police all*/{font-family: 'robotoregular';}

header
{
	position: sticky;
}
nav
{
	position: fixed;
	border-top-style: solid;
	border-top-color: #E9B882;
	border-top-width: 25px;
	background-color: #7F695B;
	padding-bottom: : 0px;
	display: block;
	top: 0px;
}
.navbar
{
    width: 100%;
    padding: 0px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
}
.nav-link {
    display: block;
    padding: .5rem 0.6rem;
}
footer
{
	bottom: 0px;
	left: 0px; 

	border-top-style: solid;
	border-top-color: #E9B882;
	border-top-width: 25px;
	border-bottom-style: solid;
    border-bottom-color: #7F695B;
    border-bottom-width: 1px;

	width: 100%;
	background-color: #7F695B;
	padding: 0;
	margin-top: 100px;
}
/*.menu
{
	display: flex;
	list-style: none;
	width: 100%;
	text-decoration: none;
	justify-content: flex-start;
	margin-top: 0px;


}*/
nav ul
{
	font-size: 1em;
	width: 100%;
}
body
{
	background-color: #FFF;
	position: static;
	top: 75px;
	margin: auto;
	height: auto;
	text-align: center;
}
p{
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
    font-weight: 500;
}


nav a:hover {
  color: #FFF;
  background-color: #E9B882;
  text-decoration: none;
}
nav a:link {
  text-decoration: none;
}
.nav-link .active
{
	background-color: #E9B882;
}
.nav-pills .nav-link
{
	border-radius:0rem;
}
.flex-sm-fill .text-sm-center .nav-link .active
{
	background-color: #E9B882;
}
.nav-item .active
{
	background-color: #E9B882;
}
.midle-element
{
	flex: 4;
}

.main
{
	display: 
}



h1
{
	/*background-color: #BACEE6;*/
	color: #7F695B;

	border-bottom-style: solid;
	border-bottom-color: #7F695B;
	border-bottom-width: 15px;

	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;

	width: 100%;
	margin-left: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2
{
	/*border-top-style: solid;
	border-top-color: #535B66;
	border-top-width: 15px;*/
	border-left-style: solid;
	border-left-color: #7F695B;
	border-left-width: 30px;

    
	padding: 20px 0px 20px 10px;
	margin-top: 80px;
    margin-bottom: 50px;
	color: #7F695B;
    font-weight: bold;
    font-size: 1.6rem;
}

h3
{
	
  	padding: 6px;
  	margin: 1% 0% 0px 0%;
  	text-align: left;
    font-weight: 00;
    font-size: 1.3rem;
    background-color: #E9B882;
}
h4
{
	/*border-left-style: solid;
	border-left-color: #7F695B;
	border-left-width: 15px;*/
	padding-left: 25px;
    font-weight: 450;
    background-color: #E9B882;
}
#photo
{
	border-style:  solid;/*caractéristiques de la bordure*/
	border-color: #E9B882;
	border-left: 0px;
	border-top: 0px;

  	/*box-shadow: 2px 2px 5px #535B66;/*ombre de l'image*/
  	/*float: left;*/
  	display: block;
  	left: 0px;
  	width: 13.5%;
  	max-width: 260px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: fixed;
  	min-width: 150px;
    z-index: 1;

}
mark
{
    background: none;
}

.element
{
	margin-left: 8%;
    margin-right: 8%;
}

.element li
{
	text-align: left;
	margin-left: 5%;
    list-style: circle,
}
.contact
{
	text-align: right;
	font-style: italic;
	margin-right: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: none;
}
.année
{
	text-align: right;
	font-style: italic;
	margin-top: 5px;
	margin-right: 15px;
}
.temps
{
    font-style: normal;
}

.langues
{
	float: right;
	display: flex;
	background-color: #7F695B;
    justify-content: flex-end;
}
.détails
{
    font-size: 1.3rem;
    border: 2px solid #7F695B;
    border-radius: 4px;
    float : right;
    color: #7F695B;
    text-decoration: none;
    padding: 3px;
    margin-right: 5px;
}
.détails a:hover {
  color: #FFF;
  background-color: #E9B882;
  text-decoration: none;
}
.détails a:link {
  text-decoration: none;
}



#midle
{
	display: flex;
	height: auto;
}
#experiences
{
	flex: 3; /*ce bocl fait 3 fois la taille du lateral*/
	display: block;/*les class "elements" deviennent des blocs */
	text-align: justify;
	padding: 0px 10px 0px 10px;
	margin-left: 2%;
	margin-right: 2%;
    position: inherit;
}
#lateralgauche
{
	width: 14%;
	background-color: #FFF;
	opacity: 1;
	height: inherit;
	display: flex;
    position: inherit;
}
#lateraldroit
{
	width: 14%;
	background-color: #BACEE6;
	opacity: 0;
	height: inherit;
	display: flex;
    position: inherit;
}
#description
{
    top: 420px;
    color: #7F695B;
    font-weight: 400;
    font-size: 1rem;
    position: fixed;
    max-width: 10%;
}
#competences
{

	margin-top: 40px;
}
/*#competences li
{
	margin-left: 40px;
	text-align: none;
}*/
.hauteur
{
	height: 55px;
	display: flex;
	align-items: center;
    place-content: center;
    list-style: none;

}
.googleplus
{
	width: 35px;
}
#competences ul
{
	list-style: inside;
}



#phrase
{
    margin-top: 140px;
    font-size: 1.15rem;
    text-align: justify;
}
.guillemet
{
    font-size: 5rem;
    color: #7F695B;
}

.abcare
{
    display: flex;
    justify-content: space-between;
}

.abcdroite
{
    margin-left: 25px;
    min-width: 20%;
    max-width: 20%;

}
.abcgauche
{
 
}




:root {
  --blue: #FFF;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #E9B882;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}